body,ul,li{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
#scroll{
    width:800px;
    height:108px;
    margin:200px auto 0;
    overflow:hidden;
    position:relative;
}
#scroll ul{
    left:0;
    top:0;
    position:absolute;
}
#scroll ul li{
    float:left;
    width:178px;
    height:108px;
}